<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peg legs everywhere.</title>
</head>
<body>
    <h1>Look at all the pirates</h1>
        {{{ body }}}
    
</body>
</html>