<!DOCTYPE html>
<html>
    <head>
        <title>Doing Stuff</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <h6>Navigation bar goes here</h6>
     
        {{{ body }}}
     
        <h6>Footer will go here</h6>
    </body>
</html>