<h1>Makin Pirates!</h1>
<form action="/pirates" method="POST">
  <div>
    <label for="name">Name:</label>
    <input name="name">
  </div>
  <div>
    <label for="birthplace">Birthplace:</label>
    <input name="birthplace">
  </div>
  <div>
    <label for="death_year">Year of death:</label>
    <input name="death_year">
  </div>
  <div>
    <label for="base">Base:</label>
    <input name="base">
  </div>
  <div>
    <label for="nickname">Nickname:</label>
    <input name="nickname">
  </div>
  <div>
    <button type="submit" name="action">Add Pirat</button>
  </div>
</form>