<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <head>
        <title>Pirates Wiki</title>
    </head>
    <body>
        <h1>Look at all those peg legs...</h1>
    <div class="container">
        {{{ body }}}
    </div>
    </body>
</html>
