<main>
	<h2>Delicious donuts! Handmade fresh daily!</h2>
	{{#each donuts}}
	<div class="donut-container">
		<img src="{{this.img}}" class="main-img">
		<h2>
			<a href="/{{this._id}}">{{this.name}}</a>
		</h2>
		<p>${{this.price}} each</p>
	</div>
	{{/each}}
</main>