h1 {
    font-size: 45px;
    color: black;
}

h4 {
    font-size: 25px;
    color: black;
}

button {
    font-size: 20px;

}

body {
    background: #01B001;
}

img {
    height: 100 px;
    width: 50 px;
}